* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Roboto", sans-serif;
     /* background: linear-gradient(#6190E8, #A7BFE8); */
    background:linear-gradient(#a8c0ff,#3f2b96); 
    height: 100vh;
  }
  
  .app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px 15px 50px;
  }
  
  header .search {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
  }
  
  header .search input {
    border: none;
    border-radius: 10px;
    padding: 10px;
    
    text-align: center;
    outline: none;
    border-bottom: 3px solid #eee;
    color: #000;
    font-size: 20px;
    font-weight: 300;
  }
  
  header .search input:focus {
    background-color: #eee;
  }
  
  .result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #eee;
  }
  
  .city {
    font-size: 4vh;
    font-weight: 500;
    margin-bottom: 5px;
    text-align: center;
  }
  
  .weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #eee;
  }
  
  .weather .metric {
    font-size: 15vh;
    font-weight: 500;
    text-shadow: 2px 5px rgba(0, 0, 0, 0.6);
  }
  
  .weather .metric span {
    font-weight: 500;
  }
  
  .weather .weather-is {
    display: flex;
    flex-direction: row;    
    align-items: center;
    font-size: 20px;
    font-weight: 100;
    font-style: italic;
    text-shadow: 0px 3px rgba(0, 0, 0, 0, 0.4);
  }

  #weatherimg{
    width: 50px;
    height: 50px;
  }
  
  .description {
    font-size: 20px;
    font-weight: 100;
    font-style: normal;
    margin-bottom: 15px;
    text-shadow: 0px 3px rgba(0, 0, 0, 0, 0.4);
    padding-top: 10px;
  }

  #feels-like{
    color:#eee;
    font-size:small;
    font-weight: 50;
  }
  
  .weather .temprange {
    font-size: 15px;
    font-weight: 100;
    padding-left: 10px;
    color: gray;
    text-transform: capitalize;
  }
  
  header .search .message{
      margin-top:5px;
      color:crimson;
      font-style: italic;
  }

  #loading-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  main{
     display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0% 15% 0% 15%; 
  }

  #forecast{
    padding:0% 5%;
    width: 100%;
    border:1px solid;
    border-radius: 5px;
    color:#eee;
    /* background-color: lightgray; */
  }

  nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height:50px;
    padding:1%;
  }

  nav a{
    color: #313131;
    text-decoration: none;
  }

  .main-row{
    margin-top:5px;
    border-bottom: 0.1vh solid #eee;
    font-size: 1.75vh;
  }

  .pdtop{
    padding-top:1vh;
    padding-bottom: 1vh;
  }
  .details-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    width: 100%;
    margin-top: 5%;
  }

  .wind-speed,.uv-index{
    width: 40%;
    border: 0.2vh solid lightgray;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding:2%;
    color:#eee;
  }

  .wind-speed span,.uv-index span{
    text-align: center;
    font-size: 2vh;
    font-weight: 200;
    text-shadow: 2px 3px rgba(0, 0, 0, 0.6);
  }

  .link{
    color: #eee;
  }
